@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Manrope&family=Poppins:wght@400;600;700&family=Roboto&display=swap');


:root {

    /* Fonts */
    --font-family-poppins: 'Poppins', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-inter: 'Inter', sans-serif;
    --font-family-manrope: 'Manrope', sans-serif;
    --font-family-bebas: 'Bebas Neue', cursive;
}

/* Fonts classes */

.font-poppins {
    font-family: var(--font-family-poppins);
}

.font-roboto {
    font-family: var(--font-family-roboto);
}

.font-inter {
    font-family: var(--font-family-inter);
}

.font-manrope {
    font-family: var(--font-family-manrope);
}

.font-bebas {
    font-family: var(--font-family-bebas);
}

/* Custom Styling */

.fs-custom-1 {
    font-size: 3rem;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
}


/* Media queries */

@media screen and (max-width: 768px) {
    /* Tablet and mobile screens */
    .fs-custom-1 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    /* Larger screens */
}